
#headline{
    width: 100%;
    min-width: 1263px;
    height: 300px;

    background:  url("hot/headline.jpg") no-repeat center ;
}
#headline .center{
    width: 1263px;
    height: 300px;
    margin: 0 auto;
}
#headline section{

    padding: 100px 0 0 50px;

}
#headline h2{
    color: #eeeeee;
    font-size: 36px;
    letter-spacing: 1px;
}
#headline h3{
    color: #eeeeee;
    font-size: 20px;
    letter-spacing: 1px;
}
#container {

    width: 1263px;
    margin: 30px auto;

}
#container .sidebar{
    width: 340px;
   float: right;
    height: 1200px;

}
#container .sidebox{
    border: 1px solid #eee;
    margin: 0 0 10px 0 ;
    text-align: center;
}
#container .sidebox h2{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    text-indent: 8px;
    height: 40px;
    line-height: 40px;
    color: #fafafa;
    color: #666;
    text-align: left;
}
#container .tag{
    padding: 10px 0;

}
#container .tag li{
    display: inline-block;
    width: 100px;
    height: 35px;
    background: #eee;
    line-height: 35px;
    margin: 2px 0 ;
    text-align: left;
    text-indent: 8px;
}
#container .tag a{
    display: block;
}
#container .tag a:hover{
    background: #458b00;
}
#container .figure{
 padding: 10px 0;
}
#container figure{
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    color: #666666;
}
#container .box{
    padding: 10px 0;

}
#container .box a{
    display: inline-block;
    width: 150px;
    height: 40px;
    background: #eee;
    line-height: 40px;
    margin: 2px 0 ;
    text-align: left;
    text-indent: 35px;
    color: #888;
}
#container .box .trea1{
    background:url("hot/trea1.png") no-repeat center left 10px;
    border: 1px solid#eeeeee;
}
#container .box .trea2{
     background:url("hot/trea2.png") no-repeat center left 10px;
     border: 1px solid#eeeeee;
 }
#container .box .trea3{
      background:url("hot/trea3.png") no-repeat center left 10px;
      border: 1px solid#eeeeee;
  }
#container .box .trea4{
       background:url("hot/trea4.png") no-repeat center left 10px;
       border: 1px solid#eeeeee;
   }


#container .list{
    width: 910px;
    float: left;

}
#container .info{
    height: 45px;
    line-height: 45px;
    background: #eeeeee;
    margin: 0 0 20px 0 ;
}
#container .information .left{

    display: inline-block;
    float: left;
}
#container .information .left li{
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 43px;
    line-height: 45px;

}
#container  .information  .left li:first-child{
    background-color: #f9f9f9;
    border-top: 2px solid green;
    position: relative;
    left: 1px;
}
#container .information .left li a{
    color: #666;

}
#container  .information .right{

    display: inline-block;
    float: right;
    padding: 0 20px 0 0 ;
}
#container .information .right li{
    display: inline-block;
    width: 60px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
#container  .information  .right li a{
    color: #666666;
    padding: 3px 8px;

}
#container .information  .right li a.select , #container  .information  .right li a:hover{
    background-color: #458b00;
    color: #f9f9f9;
}
#container .tour{
    width: 908px;
      position: relative;
    padding: 0;
    margin: 0 0 20px 0 ;
    border: 1px solid #eeeeee;
}
#container .tour img{
    float: left;
}
#container .tour figcaption{
    width: 528px;
    height: 230px;

    float: right;
}
#container .tour section{
    width: 300px;
}
#container .tour h2{
    font-size: 24px;
    font-weight: normal;
    color: #333333;
    padding: 10px 0 10px 25px ;

}
#container .tour h3{
    font-size: 16px;
    font-weight: normal;
    color: #666;
    line-height: 1.5;
    padding: 10px 0 10px 25px ;
}
#container .tour ol{
    padding: 0 0 0 25px;
    color: #666666;
    line-height: 2;
}
#container .tour mark{
    background-color: #f9f9f9;
    border: 1px solid #458b00;
    padding: 0 5px;
    color: #458b00;
    border-radius: 4px;
}
#container .tour .buy{
    position:absolute;
    top: 55px;
    right: 30px;
}
#container .price{
    color: #ff6600;
    font-size: 20px;
}
#container .price strong{
    font-size: 36px;
}
#container .price s{
    color: #999;
    font-size: 16px;
}
#container .reserve{
   margin: 10px 0 0 0 ;
}
#container .reserve a{
    display: inline-block;
    width: 152px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #ff6600;
    border-radius: 4px;
}
#container .type{
    width: 90px;
    height: 25px;
    background-color: #458b00;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: #f9f9f9;
    position: absolute;
    top: 0px;
    left: 0px;
}
#container .disc{
    position: absolute;
    top:0;
    right: 0;
    width: 52px;
    height: 52px;
    background: url("hot/disc.png") no-repeat ;

}
#container .disc span{
    display: block;
    transform: rotate(45deg);
    width: 52px;
    height: 52px;
    padding: 5px 0 0 0;
    text-indent: 7px;
    font-size: 14px;
    color: #ff7a4d;
}






#container .tour footer{
    width: 528px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    text-indent: 25px;
   background-color: #fafafa;
  position: absolute;
    bottom: 0;
}
#container .tour time{
    color: #458b00;
}
#container .more{
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #666666;
}
#container .ticket,#container .scenery ,#container .about{
    color: #666666;
    font-size: 20px;
}
#container .ticket h2, #container .scenery h2,#container .about h2{
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    border-bottom: 1px dashed #5e5e5e;
    padding: 0 0 20px 0 ;

}
#container .city{
  margin: 20px 0 10px 0 ;

}
#container .city mark{
    color: #f9f9f9;
    background: #458b00;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0 10px 0 16px;
}
#container .ticket .left{
    display: inline-block;
    width: 43%;

}
#container .ticket .right{
    width: 43%;
      display: inline-block;
}
#container .ticket .button{
    display: inline-block;
    width: 9%;
}
#container .ticket .submit{
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: #f60;
    position: relative;
    top: -18px;
    border: none;
    cursor: pointer;


}
#container .ticket .form input{
   width: 250px;
    height: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #cccccc;
    color: #666;
    padding: 5px;
    margin: 0 0 0 16PX;
}
#container .ticket .new{
    margin: 20px 0 0 0;
}
#container .ticket .new ul{
  margin: 20px 0 0 0 ;
}
#container .ticket .new li{
       padding: 5px 10px;
    display: inline-block;
}
#container .ticket .new li:first-child{
    padding-left: 0;
}
#container .ticket .new li:nth-child(2){
    background-color: #458b00;
    color: #fff;
    border-radius: 4px;
}
#container .ticket table{
    margin: 20px 0 0 0 ;
    width: 100%;
    border: 1px solid#ddd;
    border-collapse: collapse;
}
#container .ticket  th{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid#ddd;
}
#container .ticket td{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
#container .ticket tr:nth-child(2n){
    background-color:#fafafa ;
}
#container .ticket tr:hover{
    background-color: #eee;
}
#container .ticket .hangban{
    color: #666;
    
}
#container .ticket .reserve{
    display: inline-block;
    background: #f60;
    border-radius: 4px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    color: #f9f9f9;
}
#container .scenery figure {
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin: 15px 5px 15px 0;
    width: 435px;
    text-align: left;
    position: relative;
}

#container .scenery figcaption{
    text-align: center;
    padding: 5px 0;

}
#container .about p{
    line-height: 2;
    margin: 20px 0 ;
}
#container .about address{
    line-height: 1.6;
    margin: 20px 0 ;
    font-style: normal;
}














