
#search{
    width: 100%;
    height: 600px;
    display: block;
    min-width: 1263px;
     background: url("tour/search.jpg") center;
    position: relative;
}
#search .center{
    width: 600px;
    height: 60px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -300px;
    opacity: 0.6;
    border-radius: 10px ;
}
#search .search{
    width: 450px;
    height: 54px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -300px;
    color: #666666;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
}
#search .button{
    width: 120px;
    height: 54px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 180px;
    color: #666666;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
}
#tour{
    width: 1263px;
    height: 1150px;
    /*background: coral;*/
    margin: 30px auto;
    text-align: center;

}

#tour .center h2{
    font-size: 45px;
    letter-spacing: 2px;
    color: #666666;
    margin: 10px 0;


}
#tour .center p{
    color: #666666;
    margin: 10px 0 ;
}
#tour figure{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    margin: 15px 12px;
    width: 380px;
    text-align: left;
    position: relative;
}
#tour figure img{
    vertical-align: middle;
}
#tour figcaption{

    color: #777777;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 7px 0 5px 0 ;
}
#tour .title{
    color: #333333;
    font-weight: normal;
}
#tour .sat{
    float: right;
    font-size: 14px;
    color: #999999;
    font-style: normal;
    position: relative;
    right: 5px;
}
#tour .price{
    color: #f60;
    font-size: 14px;
}
#tour .price strong{
    font-size: 20px;
    letter-spacing: 1px;
}
#tour .type{
    background: #59b200;
    width: 90px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: #ffff00;
    position: absolute;
    top: 4px;
    left: 4px;
}


